.header {
  padding: 32px;
  background: #fff !important;
  box-shadow: 0px -1px 0px 0px #d6ddeb inset !important;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
